<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Diciplina</title>
</head>
<body>
<h1>Cadastro de diciplinas</h1>
<form method="post">
    
    <div>
    <label for="codigo">Código da diciplina :</label>
    <input id="codigo" name="codigo">
    </div>

    <br/>
    <div>
    <label for="nome">Nome:</label>
    <input id="nome" name="nome">
    </div>

    <br/>

    <div>
    <label for="professor">Professor :</label>
    <input id="professor" name="professor">
    </div>
    
    <br/>

    <input type="submit" value="Cadastrar">
</form>
</body>
</html>